<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

  <!-- EXPERIMENT A2 tracking code -->
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='108454052-4',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

  <!-- General Head Content -->
  <!-- meta tags -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

<meta name="description" content="Official Bootstrap Themes and templates from the creators of Bootstrap including dashboards, admins, and marketing sites." />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification" content="4--Yv8-XVyrl4hAM2ceeBXt8H8iiI_3Ms3vDSIV5xN0" />


<!-- title tag-->
<title>
  Bootstrap Themes
</title>

<!-- search engine -->
<link rel="canonical" href="index.html" />

<!-- open graph -->


  <meta property="og:title" content="Bootstrap Themes" />
  <meta property="og:type" content="website" />



<meta property="og:description" content="Official Bootstrap Themes and templates from the creators of Bootstrap including dashboards, admins, and marketing sites." />

<meta property="og:url" content="http://themes.getbootstrap.com/" />
<meta property="og:site_name" content="Bootstrap Themes" />

 
