

<link rel="stylesheet" href="{{site.root}}/css/main.css">
<!-- <link rel="stylesheet" href="/css/prahscl.css"> -->

<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->


<!-- <link rel="stylesheet" href="https://bootstrap-themes.github.io/dashboard/assets/css/toolkit-light.css"> -->



<!-- <link rel="stylesheet" href="https://bootstrap-themes.github.io/dashboard/assets/css/docs.css"> -->


<!-- <link rel="stylesheet" href="./bootstrap.css" media="screen">
<link rel="stylesheet" href="../assets/css/custom.min.css"> -->
