/*------------------------------------*\
    #VARIABLES/COLORS
\*------------------------------------*/

$base-line-height:        16px;
$base-margin:             $base-line-height !default;
$base-padding:            $base-line-height !default;

$enable-margins:          true !default;
$enable-margins--tiny:    true !default;
$enable-margins--small:   true !default;
$enable-margins--large:   true !default;
$enable-margins--huge:    true !default;
$enable-margins--none:    true !default;


$enable-paddings:         true !default;
$enable-paddings--tiny:   true !default;
$enable-paddings--small:  true !default;
$enable-paddings--large:  true !default;
$enable-paddings--huge:   true !default;
$enable-paddings--none:   true !default;
